Assets/ExampleAssets/
Library/
Temp/
UserSettings/Layouts/default-2021.dwlt
UserSettings/EditorUserSettings.asset
Logs/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
fishingcactus.artist-tools.Editor.csproj
fishingcactus.common-code.Editor.csproj
fishingcactus.common-code.Runtime.csproj
.vs/
fishingcactus.dgames-core.Editor.csproj
fishingcactus.dgames-core.runtime.csproj
FishingCactus.DGamesCore.Runtime.csproj
Tennis-OnCourt.sln
NewAssembly.csproj
obj/
Assets/_Content/_Settings/BootstrapDebugToolParameters_LOCAL.asset
_Build/
Oculus.AudioManager.Audio.Editor.csproj
Oculus.AudioManager.csproj
Oculus.AudioManager.Utils.Editor.csproj
Oculus.Interaction.csproj
Oculus.Interaction.Editor.csproj
Oculus.Interaction.InterfaceSupport.csproj
Oculus.Interaction.Samples.csproj
Oculus.Platform.csproj
Oculus.Platform.Editor.csproj
Oculus.Spatializer.csproj
Oculus.Spatializer.Editor.csproj
Oculus.VR.csproj
Oculus.VR.Editor.csproj
Oculus.VR.Scripts.Editor.csproj
TennisOnCourt.sln
_Builds/
fishingcactus.bank.Editor.csproj
fishingcactus.bank.runtime.csproj
MessagePack.Annotations.csproj
MessagePack.csproj
AssistantCoreSDKEditor.csproj
AssistantCoreSDKRuntime.csproj
Facebook.Wit.Editor.csproj
Facebook.WitAI.csproj
Oculus.LipSync.csproj
Oculus.LipSync.Editor.csproj
Oculus.Voice.Demo.csproj
VoiceSDK.Editor.csproj
VoiceSDK.Runtime.csproj
